In [1]:
def addition(a, b):
	return a + b

result = addition(5, 3)
print(result)  # Output: 8

8

In [2]:
def addition(num):
    return num + 1

print(addition(5))

6

In [4]:
def convert(minutes):
    return minutes * 60

print(convert(5))
print(convert(3))

300
180

In [7]:
def tri_area(base, height):
    return base * 0.5 * height

print(tri_area(3, 2))
print(tri_area(7, 4))
tri_area(10, 10)

3.0
14.0

50.0

In [10]:
def cubes(a):
    return a ** 3

print(cubes(3))
print(cubes(5))
cubes(10)

27
125

1000

In [11]:
def how_many_seconds(hours):
    return hours * 3600

print(how_many_seconds(2))
print(how_many_seconds(10))
how_many_seconds(24)

7200
36000

86400

In [12]:
def next_edge(a, b):
    return (a + b) - 1

print(next_edge(8, 10))
print(next_edge(5, 7))
next_edge(9, 2)

17
11

10

In [16]:
def remainder(x, y):
    return x % y

remainder(1, 3)
remainder(3, 4)
remainder(5, 5)
remainder(7, 2)

1

In [19]:
def string_int(str):
    return int(str)

print(string_int("6"))
print(string_int("1000"))
print(string_int("12"))

6
1000
12

In [21]:
def calc_age(a):
    return a * 365

print(calc_age(65))
print(calc_age(0))
print(calc_age(20))

23725
0
7300

In [25]:
def find_perimeter(length, width):
    return 2 * (length + width)

print(find_perimeter(6, 7))
print(find_perimeter(20, 10))
print(find_perimeter(2, 9))

26
60
22

In [26]:
def circuit_power(voltage, current):
    return voltage * current

print(circuit_power(230, 10))
print(circuit_power(110, 3))
print(circuit_power(480, 20))

2300
330
9600

In [28]:
def sum_polygon(n):
    return (n - 2)*180

print(sum_polygon(3))
print(sum_polygon(4))
print(sum_polygon(6))

180
360
720

In [29]:
def calculate_exponents(base, exponent):
    return base ** exponent

print(calculate_exponents(5,5))
print(calculate_exponents(10,10))
print(calculate_exponents(3,3))

3125
10000000000
27

In [32]:
def bool_to_string(flag):
    return str(flag)

res = type(bool_to_string(True))

print(res)
print(False)

<class 'str'>
False

In [33]:
def squared(x):
    return x ** 2

print(squared(5))
print(squared(9))

25
81

In [34]:
def get_first_value(number_list):
    return number_list[0]

print(get_first_value([1,2,3]))
print(get_first_value([80,5,100]))
print(get_first_value([-500,0,50]))

1
80
-500

In [35]:
def football_points(wins,draws,losses):
    return (wins*3) + (draws*1) + (losses*0)

print(football_points(3,4,2))
print(football_points(5,0,2))
print(football_points(0,0,1))

13
15
0

In [36]:
def animal_legs(chickens,cows,pigs):
    return (chickens*2) + (cows*4) + (pigs*4)

print(animal_legs(2,3,5))
print(animal_legs(1,2,3))
print(animal_legs(5,2,8))

36
22
50

In [37]:
def name_string(name):
    result = name + "Edabit"
    return result

print(name_string("Mubashir"))
print(name_string("Matt"))
print(name_string("python"))

MubashirEdabit
MattEdabit
pythonEdabit

In [ ]:
def convert_to_seconds(hours, minutes):
    return (hours * 3600) + (minutes * 60)

print(convert_to_seconds(1,3))
print(convert_to_seconds(2, 0))
print(convert_to_seconds(0, 0))

3780
7200
0

In [41]:
def total_amount_adjectives(dct):
    return len(dct)

print(total_amount_adjectives({ "a": "moron" }))
print(total_amount_adjectives({ "a": "idiot", "b": "idiot", "c": "idiot" }))
print(total_amount_adjectives({ "a": "moron", "b": "scumbag", "c": "moron", "d": "dirtbag" }))

1
3
4

In [1]:
def to_int(str):
    return int(str)

def to_str(int):
    return str(int)

print(to_int("77"))
print(to_int("532"))

print(to_str(77))
print(to_str(532))

77
532
77
532

In [44]:
def is_equal(obj_one, obj_two):
    return obj_one == obj_two

obj_one = {
  "name": "Benny",
  "phone": "3325558745",
  "email": "benny@edabit.com"
}

# The second object parameter.

obj_two = {
  "name": "Jason",
  "phone": "9853759720",
  "email": "jason@edabit.com"
}

print(is_equal(obj_one, obj_two))

obj_one = {
  "name": "Jason",
  "phone": "9853759720",
  "email": "jason@edabit.com"
}

# The second object parameter.

obj_two = {
  "name": "Jason",
  "phone": "9853759720",
  "email": "jason@edabit.com"
}

print(is_equal(obj_one, obj_two))

False
True

In [45]:
def give_me_something(a):
    return "something" + " " + a

print(give_me_something("is better than nothing"))
print(give_me_something("Bob Jane"))
print(give_me_something("something"))

something is better than nothing
something Bob Jane
something something

In [46]:
def points(two_pointers, three_pointers):
    return (two_pointers * 2) + (three_pointers * 3)

print(points(1, 1))
print(points(7, 5))
print(points(38, 8))

5
29
100

In [2]:
def is_same_num(num1, num2):
    return num1 == num2

print(is_same_num(4, 8))
print(is_same_num(2, 2))
print(is_same_num(2, "2"))

False
True
False

In [3]:
def less_than_or_equal_to_zero(num):
    return num <= 0

print(less_than_or_equal_to_zero(5))
print(less_than_or_equal_to_zero(0))
print(less_than_or_equal_to_zero(-2))

False
True
True

In [4]:
def greeting(name):
    if name == "Mubashir":
        return "Hello, my love!"
    else:
        return "Hello, " + name

print(greeting("Matt"))
print(greeting("Helen"))
print(greeting("Mubashir"))

Hello, Matt
Hello, Helen
Hello, my love!

In [5]:
def mod(x, y):
    return x % y

print(mod(-13,64))
print(mod(50, 25))
print(mod(-6, 3))

51
0
0

In [9]:
def findLargestNum(numbers):
    numbers.sort()
    return numbers[-1]

def find_largest(numbers):
    if not numbers:
        return None
    largest = numbers[0]  # Start with first number
    for num in numbers:
        if num > largest:
            largest = num
    return largest

print(findLargestNum([4, 5, 1, 3]))
print(findLargestNum([300, 200, 600, 150]))
print(findLargestNum([1000, 1001, 857, 1]))

print(find_largest([4, 5, 1, 3]))
print(find_largest([300, 200, 600, 150]))
print(find_largest([1000, 1001, 857, 1]))

5
600
1001
5
600
1001

In [10]:
def find_smallest_num(numbers):
    numbers.sort()
    return numbers[0]

print(find_smallest_num([34, 15, 88, 2]))
print(find_smallest_num([34, -345, -1, 100]))
print(find_smallest_num([-76, 1.345, 1, 0]))
print(find_smallest_num([0.4356, 0.8795, 0.5435, -0.9999]))
print(find_smallest_num([7, 7, 7]))

2
-345
-76
-0.9999
7

In [11]:
def is_seven(x):
    return x == 7

print(is_seven(4))
print(is_seven(9))
print(is_seven(7))

False
False
True

In [12]:
def difference_max_min(nums):
    nums.sort()
    return nums[-1] - nums[0]

print(difference_max_min([10, 4, 1, 4, -10, -50, 32, 21]))
print(difference_max_min([44, 32, 86, 19]))

82
67

In [13]:
def concat(lst1, lst2):
    return lst1 + lst2

print(concat([1, 3, 5], [2, 6, 8]))
print(concat([7, 8], [10, 9, 1, 1, 2]))
print(concat([4, 5, 1], [3, 3, 3, 3, 3]))

[1, 3, 5, 2, 6, 8]
[7, 8, 10, 9, 1, 1, 2]
[4, 5, 1, 3, 3, 3, 3, 3]

In [14]:
def less_than_100(a, b):
    return (a + b) < 100

print(less_than_100(22, 15))
print(less_than_100(83, 34))
print(less_than_100(3, 77))

True
False
True

In [15]:
def get_last_item(lst):
    return lst[-1]

print(get_last_item([1, 2, 3]))
print(get_last_item(["cat", "dog", "duck"]))
print(get_last_item([True, False, True]))
print(get_last_item([7, "String", False]))

3
duck
True
False

In [16]:
def hello_name(name):
    return f'Hello {name}!'

print(hello_name("Gerald"))
print(hello_name("Tiffany"))
print(hello_name("Ed"))

Hello Gerald!
Hello Tiffany!
Hello Ed!

In [23]:
def makes10(a, b):
    if (a == 10) or (b == 10):
        return True
    elif (a + b) == 10:
        return True
    else:
        return False

print(makes10(9, 10))
print(makes10(9, 9))
print(makes10(1, 9))

True
False
True

In [26]:
def profitable_gamble(prob, prize, pay):
    return (prob * prize) > pay

print(profitable_gamble(0.2, 50, 9))
print(profitable_gamble(0.9, 1, 2))
print(profitable_gamble(0.9, 3, 2))

True
False
True

In [29]:
def divisible_by_five(num):
    return num % 5 == 0

print(divisible_by_five(5))
print(divisible_by_five(-55))
print(divisible_by_five(37))

True
True
False

In [35]:
def get_sum_of_elements(elements):
    result = 0
    for element in elements:
        result += element
    return result

print(get_sum_of_elements([2, 7, 4]))
print(get_sum_of_elements([45, 3, 0]))
print(get_sum_of_elements([-2, 84, 23]))

13
48
105

In [36]:
def frames(min, fps):
    return min * fps * 60

print(frames(1, 1))
print(frames(10, 1))
print(frames(10, 25))

60
600
15000

In [37]:
def divisible(num):
    return num % 100 == 0

print(divisible(1))
print(divisible(1000))
print(divisible(100))

False
True
True

In [38]:
def And(a, b):
    return a and b

print(And(True, False))
print(And(True, True))
print(And(False, True))
print(And(False, False))

False
True
False
False

In [42]:
def k_to_k(n, k):
    return k ** k == n

print(k_to_k(4, 2))
print(k_to_k(387420489, 9))
print(k_to_k(3124, 5))
print(k_to_k(17, 3))

True
True
False
False

In [44]:
def max_num(a, b):
    if a > b:
        return a
    else:
        return b

print(max_num(3, 7))
print(max_num(-1, 0))
print(max_num(1000, 400))

7
0
1000

In [47]:
def comp(str1, str2):
    return len(str1) == len(str2)

print(comp("AB", "CD"))
print(comp("ABC", "DE"))
print(comp("hello", "edabit"))

True
False
False

In [48]:
def divides_evenly(a, b):
    return a % b == 0

print(divides_evenly(98, 7))
print(divides_evenly(85, 4))

True
False

In [50]:
def calculate_fuel(dst):
    if (dst * 10) < 100:
        return 100
    else:
        return dst * 10

print(calculate_fuel(15))
print(calculate_fuel(23.5))
print(calculate_fuel(3))

150
235.0
100

In [51]:
def is_empty(str):
    return "" == str

print(is_empty(""))
print(is_empty(" "))
print(is_empty("a"))

True
False
False

In [52]:
def repetition(txt, n):
    return txt * n

print(repetition("ab", 3))
print(repetition("kiwi", 1))
print(repetition("cherry", 2))

ababab
kiwi
cherrycherry

In [54]:
def swap(a, b):
    return [b, a]

print(swap(100, 200))
print(swap(44, 33))
print(swap(21, 12))

[200, 100]
[33, 44]
[12, 21]

In [59]:
def return_negative(a):
    if a >= 0:
        return a * (-1)
    else:
        return a

print(return_negative(4))
print(return_negative(15))
print(return_negative(-4))
print(return_negative(0))

-4
-15
-4
0