# This is a sample Jupyter Notebook

Below is an example of a code cell. 
Put your cursor into the cell and press Shift+Enter to execute it and select the next one, or click 'Run Cell' button.

Press Double Shift to search everywhere for classes, files, tool windows, actions, and settings.

To learn more about Jupyter Notebooks in PyCharm, see [help](https://www.jetbrains.com/help/pycharm/ipython-notebook-support.html).
For an overview of PyCharm, go to Help -> Learn IDE features or refer to [our documentation](https://www.jetbrains.com/help/pycharm/getting-started.html).

In [1]:
print("Hello World!")

Hello World!

In [2]:
print('hello there')

hello there

In [3]:
print('h' * 20)

hhhhhhhhhhhhhhhhhhhh

In [1]:
fruits = ["apple", "banana", "orange", "mango"]
fruits.append("grapes")
print(fruits)

['apple', 'banana', 'orange', 'mango', 'grapes']

In [2]:
my_list = [1, 2, 3, 4, 5]
new_list = my_list.copy()
""""
Multiple line comments
Triple quotes
"""
print(new_list)
# Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [1]:
def nothing():
    pass
print(nothing())

None

In [3]:
def calculate_total(a, b):  # Parameters: a and b
    total = a + b           # Task: Addition
    return total            # Output: Sum of a and b

result = calculate_total(5, 7)  # Calling the function with inputs 5 and 7
print(result)  # Output: 12

12

In [5]:
string_length = len("Hello, World!")  # Output: 13
list_length = len([1, 2, 3, 4, 5])   # Output: 5
print(list_length)

5

In [4]:
import pandas as pd

# Create DataFrames
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4],'C':[5, 6]})
df2 = pd.DataFrame({'A': [7], 'B': [8],'C':[0]})

# Use concat
result = pd.concat([df1, df2], ignore_index=True)
print(result)

   A  B  C
0  1  3  5
1  2  4  6
2  7  8  0